#page_opt {
  text-align: center;
}
.header {
  height: 15vh;
}

.logo_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  width: 50px;
  display: inline;
}

.demonstrate {
  border: 3px solid black;
  width: 60%;
  border-collapse: separate;
  text-align: center;
}
.demonstrate tr:nth-child(even) {
  background: #ccc;
}
.demonstrate tr:nth-child(odd) {
  background: #fff;
}
