#page_opt {
  text-align: center;
}
.header {
  height: 15vh;
}

.logo_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  width: 50px;
  display: inline;
}
