/* push page */

.header {
  height: 15vh;
}

.logo_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 50px;
  display: inline;
}

/* form part */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

select,
label {
  font-size: 20px;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  padding: 8px 32px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}
