/* pull page */

.form {
  padding: 100;
  margin: 100;
}

#form_target {
  padding: 1;
  margin: 1;
}

.demonstrate {
  border: 3px solid black;
  width: 60%;
  border-collapse: separate;
  text-align: center;
}
.demonstrate tr:nth-child(even) {
  background: #ccc;
}
.demonstrate tr:nth-child(odd) {
  background: #fff;
}
