/* * {
  padding: 0;
  margin: 0;
} */

h1 {
  text-align: center;
  /* display: flex; */
}

.header {
  height: 15vh;
  /* background-color: rgb(223, 223, 223); */
}

.form {
  padding: 100;
  margin: 100;
}

.logo_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* float: left; */
}
.logo {
  width: 50px;
  display: inline;
}

#form_target {
  padding: 1;
  margin: 1;
}

.demonstrate {
  border: 3px solid black;
  width: 60%;
  border-collapse: separate;
  text-align: center;
}
.demonstrate tr:nth-child(even) {
  background: #ccc;
}
.demonstrate tr:nth-child(odd) {
  background: #fff;
}
